.main-wrapper {
  display: flex;
  width: 1180px;
  margin: 0 auto;
}
.isFilter {
  max-width: 25vw;
  width: 200px;
  display:grid;
  grid-gap: 5px;
}
.circle-span {
  width: 35px;
  height: 35px;
  background:rgb(219, 217, 217);
  display: inline-flex;
  border-radius:50%;
  padding: 6px;
  margin: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.circle-span:hover {
  border: 1px solid;
}
p {
  padding: 5px 10px;
  font-size: 14px;
  font-family: serif;
  color: rgb(156, 156, 156);
}
.Products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  width: 900px;
  padding-left: 30px;
}
.text-center {
  text-align: center;
}
.products {
  width: 200px;
  border: 1px solid transparent;
  padding:8px 5px ;
}
h5 {
  font-size: 22px;
}
.products:hover {
  border: 1px solid rgb(175, 174, 174);
  cursor: pointer;
}
.installments {
  display: block;
  color:rgb(160, 160, 159);
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 1px;
}
button {
  width: 100%;
  padding:12px 25px ;
  background: black;
  color: white;
  border:none;
  font-size: 16px;
  outline: 0;
}
.products:hover button{
  background:rgb(228, 228, 4);
}
hr {
  width: 9%;
  border-radius: 5px;
  border: 1px solid rgb(248,164,155);
}
.title {
  font-size: 14px;
  font-weight: 500;
}
.headerWrapper {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
}
.dropdown {
  display:flex;
  height: 30px;
}
.total-items{
  padding-left: 300px;
}
select {
  height: 20px;
  display: flex;
  justify-content:center;
}
.headerWrapper {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  background: white;
}
.fa-cart-plus {
  width: 85px;
  font-size: 30px;
  padding: 5px;
  border-radius: 8px;
  color: black;
  background: #ffffff;
  padding-bottom: 10px;
}
.fa-cart-plus:hover {
  cursor: pointer;
  color:red;
}
.active {
  background: teal;
  cursor: pointer;
}
label {
  border-top: .06em solid #d9d9d9;
  display:block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition:  5sec color ease-in-out;  
}

#shoppingCart {
  background: rgb(240, 158, 158);
  border: 1px solid;
  text-align: center;
  border-radius: 8px;
  height: 100vh;
  width: 500px;
  
  left: 100px;
}
.fa-times-circle-o{
  color:green;
}
/* Shopping Cart Styles */
#shoppingCart {
  height: 1000px;
}

.items {
  display: flex;
  justify-content: space-around;
}


.delete {
  width: 10px;
  
}

/* Header Styles */
#cart img{
  background: black;
  padding:8px 5px;

}


/* .items {
  display: flex;
  justify-content: space-around;
}
.items:hover .delete {
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.circle-span-cart {
  background: #f39c12;
}


.cart-desc {
  display: flex;
  justify-content: space-around;
}
.isFreeShipping {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.free-shipping{
 font-size: 12px;
 background: #000;
 padding: 6px 3px;
 position: absolute;
 right: 0;
} */
.fa-trash-alt {
  font-size: 10px;
}


/* update dropdown */
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
.dropdown h4 {
  font-size: 16px;
  padding-right: 10px;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  /* padding-left: 10px; */
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
  cursor: pointer;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
option:hover {
  cursor: pointer;

}

